@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@600;700&display=swap");

:root {
  --font-headings: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;
  --line-height-body: 1.6;
  --line-height-headings: 1.2;
}
